@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="form-group">
        <label for="txt-num-speaker">Number of speakers: </label>

        <input id="txt-num-speaker" class="form-control" min="2" step="1" />
        <div class="radio">
            <label><input id="rad-series" type="radio" name="wireconfig" checked="checked">Series</label>
        </div>
        <div class="radio">
            <label><input id="rad-parellel" type="radio" name="wireconfig">Parallel</label>
        </div>
        <div id="speaker-container"></div>
        <button id="btn-calculate" class="btn hidden  btn-success">Calculate</button>
        <h1 id="display" class="row"></h1>
    </div>
</div>

@section inlinescripts{
    <script type="text/javascript">

        $(function () {
            var viewScript = new HomeIndex();
            viewScript.init();
        });
    </script>
}